forall{
    background-color: bisque;
    color: #000;
}
textarea{
    background-color: lightgoldenrodyellow;
}
#left {
    background-color: lightgreen;
    float: left;
    width: 50%;
    height:100%;
}

#right {
    background-color: lightblue;
    width: 50%;
    height:100%;
    float: right;
}